* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
body {
    margin: 0;
    padding: 0;
}
.page {
    width: 90%;
    margin: auto;
}
.header {
    position: fixed;
    top: 0px;
    height: 10%;
    width: 90%;
    margin: auto;
    padding: 2%;
    background: #000000;
    border: 0.1em solid #CCC;
    color: #FFFFFF
}
.header:after {
    content: "";
    clear: both;
    display: block;
}
h1 {
    text-align: right;
}
.content {
  position: relative;
  padding-top: 15%;
}
