.page {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}
.header:before {
  
}
.header {
  position: fixed;
  top: 0px;
  height: 50px;
  background: #FFFFFF;
  
  border: 1px solid #CCC;
  width: 100%;
  margin: 0px auto;
}
.content {
  position: relative;
  padding-top: 52px;
}
