<h1>Guild Wars Tools</h1>
<ul class="navigation">
	<li class="menu" id="spreadNav">Trading Post Spread
	</li><li class="menu activeNav" id="craftingNav">Crafting Profit</li>
</ul>
<div id="tpspread" class="hidden">
	<h2>Guild Wars TP Spread</h2>
	<form id="spreadfilters" oninput="setSpreadFilters()">
		<h2>Filters</h2>
		<div>
			Max Spread
			<input type="number" name="goldmax" value="3000">Gold</input>
			<input type="number" name="silvermax" value="0">Silver</input>
		</div>
		<div>
			Min Spread
			<input type="number" name="goldmin" value="0">Gold</input>
			<input type="number" name="silvermin" value="0">Silver</input>
		</div>
		<div>
			Max Buy
			<input type="number" name="goldmaxbuy" value="30000">Gold</input>
			<input type="number" name="silvermaxbuy" value="0">Silver</input>
		</div>
	</form>
	<div id="spreaditems"></div>
</div>
<div id="craftprofit" class="hidden">
	<h2>Guild Wars Crafting Profit</h2>
	<form id="craftingprofit" onsubmit="setProfitFilters()">
		<h2>Account &amp; Discipline Selection</h2>
		<input type="submit" value="Update">
		<div>
			API Key
			<input type="text" name="apikey">API Key</input>
		</div>
		<div>
			Character
			<select name="characters" id="characterDD"></select>
		</div>
		<div>
			Discipline
			<select name="discipline" id="disciplineDD"></select>
		</div>
	</form>
	<div>
		<h3>Crafting Ingredients</h3>
		<div id="ingredientsCP">
			<ul id="ingredients"></ul>
		</div>
	</div>
</div>
